#home{

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);

  border-radius: 2em;

  /* margin: 1em; */
}

#navbar{
    background-color: #eae8e0;
    transition: all 1s ease-in-out;
    font-family: 'Cinzel', serif;
    /* position: fixed; */
}

.mainText{
    font-family: 'Cinzel', serif;
}


#peaceText{
    font-family: 'Corinthia';
}
#aboutImg{
    /* background-image: url('../assets/images/yacpif1.jpg'); */
    background-position: center;
    background-size: cover;
}

.weALT{
    background-image: url('../assets/images/IMG_1922.PNG');
}



.project{
     transition: all 1s ease-in-out;
}

.navs > .active{
   color: white
}


#project2{

    background-position: center;
    background-size: cover;
}

#about{
 background-color: black;
 color: white;
}
.btnn:hover{
    color: rgb(139, 147, 123)
    
}

.btnn2:hover{
    color: rgb(255, 255, 255)
}