#root{
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  width:100%;

  box-sizing: border-box;
  font-family: 'Poppins';

  color: white;
  color: black;
  /* background: #eae8e0; */

}

.active {
  border-bottom: 1px solid #1c1b1b;
  transition: all 1s ease-in-out;
}

@media (max-width: 800px) {
  html, body {
  overflow-x: hidden;
  }
}

